[include]
	path = .gitconfig-local
[alias]
	co = checkout
	br = branch
	ci = commit
	ca = commit --amend
	st = status
	gr = log --graph --full-history --all --color --pretty=tformat:\"%x1b[31m%h%x09%x1b[32m%d%x1b[0m%x20%s%x20%x1b[33m(%an,%x20%ar)%x1b[0m\"
	last = log -1 HEAD
	review = push origin HEAD:refs/for/master
	draft = push origin HEAD:refs/drafts/master
[color]
	ui = auto
[url "ssh://git@github"]
	insteadOf = git://github
[push]
	default = simple
[core]
	hooksPath = /hme/adam/.git/hooks
